<div class='center'>
  <h2>Discover A New Artist!</h2>
  <h4>These Artists Are Similar To The Artist You Searched</h4>
  <p>If no artists show then there is not enough data on your artist...</p>
  <br>
  <button type="button" class="btn btn-outline-secondary"  ui-sref="artists({userId: $ctrl.userId})">Go Back</button>
</div>
<div class='center'>
  <div class='align-related'>
    <br>
    <div id="load"></div>
    <ul>
      <li ng-repeat="artist in $ctrl.related.data">
        <h3>{{artist.name}}</h3>
        <h5>Similarity: {{artist.similarity * 100 | number:0}}%</h5>
        <h5><a href='https://open.spotify.com/artist/{{artist.spotify_id}}' target="_blank">Explore Artist</a></h5>
        <hr>
      </li>
    </ul>
  </div>
</div>