<div class='center'>
  <h2>Discover A New Artist!</h2>
  <h4>These Artists Are Similar To The Artist You Searched</h4>
  <p>If no artists show then go back and try again.</p>
  <p>If none show again then there is not enough info about your artist.</p>
  <br>
  <button type="button" class="btn btn-outline-secondary" ui-sref="artists({userId: $ctrl.userId})">Go Back</button>
</div>
<div class='center'>
  <br>
  <div id="load"></div>
  <ul>
    <div class="related-results">
      <div class="row">
        <li ng-repeat="artist in $ctrl.related.data">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12, no-padding">
            <div class="related-result-div">
              <h4 class='artist-name'>
                <u>{{artist.name}}</u>
              </h4>
              <h5>Similarity: {{artist.similarity * 100 | number:0}}%</h5>
              <h5><a href='https://open.spotify.com/artist/{{artist.spotify_id}}' target="_blank">Explore Artist</a></h5>
            </div>
          </div>
      </div>
    </div>
    </li>
  </ul>
</div>