<div class='header-left'>
  <h2><a ui-sref="home({userId: $ctrl.currentUser.id})">DiscoverSound</a></h2>
  <p>Learn About Something New - And See Who's Playing Near You!</p>
</div>

<div ng-show="!$ctrl.currentUser.id">
  <p><a ui-sref="signIn">Sign in</a></p>
  <p><a ui-sref="userRegistration">Sign up</a></p>
</div>
<div ng-show="$ctrl.currentUser.id">
  <p>Signed in as {{$ctrl.currentUser.email}}</p>
  <p><a ng-click='$ctrl.signOut()'>Log Out</a></p>
  <p><a ui-sref="artists({userId: $ctrl.currentUser.id})">Search Artists</a></p>
  <p><a ui-sref="events({userId: $ctrl.currentUser.id})">Search Events</a></p>
  <p><a ui-sref="favorites({userId: $ctrl.currentUser.id})">View Favorites</a></p>
</div>