<h2>Events</h2>

<form name="searchEvent" ng-submit="$ctrl.searchEvent()">
  <div>Search Band For Tour Dates:<input type="text" ng-model="$ctrl.event" required>
    <span><button class="btn" type="submit" value="Search Event" ng-click='show=true'>Submit</button></span>
  </div>
</form>

<ul>
  <p ng-show='show'>Click For More Details</p>
  <li ng-repeat="event in $ctrl.data">
    <p ng-click=event.id=!event.id>{{event.venue.city}}, {{event.venue.region}} - {{event.venue.country}} | {{event.datetime | date:'EEEE MM/dd/yyyy'}}</p>
    <div ng-hide=event.id>
      <p>{{event.venue.name}}</p>
      Line Up:<span ng-repeat="artist in event.lineup">
       | {{artist}}
      </span><br><br>
      <a href={{event.offers[0].url}} target="_blank">Buy Tickets</a>
    </div>
  </li>
</ul>