

<h2>{{$ctrl.artist.name}}</h2>
<img ng-src="http://loremflickr.com/400/250/concert" alt="Band Image" />
<h3 ng-hide='!$ctrl.artist.main_genre.length'>Genre: {{$ctrl.artist.main_genre}}</h3>
<h3 ng-hide='$ctrl.artist.main_genre.length'>Genre: Data Unavailable</h3>
<h3 ng-hide='!$ctrl.artist.country_of_origin.length'>Nationality: {{$ctrl.artist.country_of_origin}}</h3>
<h3 ng-hide='$ctrl.artist.main_country_of_origin.length'>Nationality: Data Unavailable</h3>
<h3 ng-hide='!$ctrl.artist.decade.length'>Years Active: {{$ctrl.artist.decade}}</h3>
<h3 ng-hide='$ctrl.artist.decade.length'>Years Active: Data Unavailable</h3>

 <button class="btn" ng-click='$ctrl.saveToFavorites($ctrl.artist)'>Favorite This Band</button>
 <button class="btn" ng-click='$ctrl.goToRelated($ctrl.artist)'>See Related Artists</button>