


<img ng-src="http://loremflickr.com/400/250/concert" class='img-responsive' alt="Band Image" />
<h5 ng-hide='!$ctrl.artist.main_genre.length'><span class='bold'>Genre:</span> {{$ctrl.artist.main_genre}}</h5>
<h5 ng-hide='$ctrl.artist.main_genre.length'><span class='bold'>Genre:</span> Data Unavailable</h5>
<h5 ng-hide='!$ctrl.artist.country_of_origin.length'><span class='bold'>Nationality:</span> {{$ctrl.artist.country_of_origin}}</h5>
<h5 ng-hide='$ctrl.artist.country_of_origin.length'><span class='bold'>Nationality:</span> Data Unavailable</h5>
<h5 ng-hide='!$ctrl.artist.decade.length'><span class='bold'>Years Active:</span> {{$ctrl.artist.decade}}</h5>
<h5 ng-hide='$ctrl.artist.decade.length'><span class='bold'>Years Active:</span> Data Unavailable</h5>
<div class='center'>
 <button type="button" class="btn btn-outline-secondary" id="favorite-button"  ng-click='$ctrl.saveToFavorites($ctrl.artist)'>Favorite Band</button>
 <button type="button" class="btn btn-outline-secondary" id= "related-button"  ng-click='$ctrl.goToRelated($ctrl.artist)'>Related Artists</button>
</div>