<div class='container' , id='artist-page'>
  <h4 class='center'>Start By Searching Below!</h4>
  <p class='center'>Favorited Bands Will Display Their Tour Dates On The Home Page</p>
  <br>
  <div class='center'>
    <div class='artists-results'>
      <form name="searchArtist" ng-submit="$ctrl.searchArtist()">
        <div class="searchArtist">
          <input id='artist-search' type="text" ng-model="$ctrl.artist" placeholder='  Search For An Artist' required>
          <span><button class="btn btn-outline-secondary" id="artist-submit" type="submit" value="Search Artists">Submit</button></span>
        </div>
      </form>
      <ul class='artists-list'>
        <li ng-repeat="artist in $ctrl.data.data" ng-click='$ctrl.goToShow(artist)'>
          <h4>{{artist.name }} <i class="fa fa-bars" aria-hidden="true"></i></h4>
          <hr>
          <div class='artist-show' ng-show="artist.show">
            <discover-artist artist="artist"></discover-artist>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class='center'>
   <button type="button" class="btn btn-outline-secondary" ui-sref="home({userId: $ctrl.userId})">Go Back</button>
    <br>
    <br>
  </div>
</div>