<div class='container'>
  <div class='center, favorite-name'>
    <h1>Your Favorite Artists</h1>
    <h5>Keep Track Of Your Favorite Artists</h5>
    <p>Local Shows For Your Favorites Are Displayed On The Front Page</p>
  </div>
  <br>
  <ul>
    <li class='favorite-list' ng-repeat='favorite in $ctrl.favorites.favorites'>
      <h2 class='favorite-name'>{{favorite.name}}</h2>
      <div class='favorite-show'>
        <div class='align-favorites'>
          <h5>Genre: {{favorite.genre}}</h5>
          <h5>Nationality: {{favorite.nationality}}</h5>
          <h5>Years Active: {{favorite.years_active}}</h5>
        </div>
        <p><a href='https://open.spotify.com/artist/{{favorite.spotify_id}}' target="_blank">Explore Artist</a></p>
       <button type="button" class="btn btn-outline-secondary" ng-click='$ctrl.deleteFromFavorites(favorite.id)'>Remove From Favorites</button>
      </div>
      <hr>
    </li>
  </ul>
</div>