<h2>Welcome To DiscoverSound</h2>


<div class="container">
  <div class="row">
    <div class="col">
      <h3>Discover New Artists</h3>
    </div>
    <div class="col-6">
      <h3>Events Near You</h3>
      <span ng-repeat='event in $ctrl.events'>
        <p>{{event.lineup[0]}} - {{event.date | date:'EEEE MM/dd/yyyy'}}</p>
        <p>{{event.venue_name}} - {{event.city}}, {{event.region}} - {{event.country}}</p>
        <a href='{{event.ticket_url}}'>Find Tickets</a>
      </span>
    </div>
    <div class="col">
      <h3>Your Favorites</h3>
        <span ng-repeat='favorite in $ctrl.favorites'>
          <p>Name: {{favorite.name}}</p>
        </span>
    </div>
  </div>
</div>