/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
html, body {
  height: 100%;
  margin: 0px;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.center {
  text-align: center;
}
.navbar-brand {
  font-family: 'Audiowide', cursive;
  font-weight: 700;
  font-size: 27px;
}
.navbar {
  margin: 0;
}
.jumbotron {
  background-repeat: no-repeat;
  background-position: center center;
  background-position: center top;
  background-position: center bottom;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  }
  #jumbo-top-image {
    display: flex;
    justify-content: right;
    justify-content: flex-end;
  
  }
   #jumbo-bottom-image {
    display: flex;
    justify-content: right;
    justify-content: flex-start;
  }
  #bottom-image {
    max-height:400px;
    max-width: 750px;
    height: 100%;
  }
  #large-home-image {
    max-height: 350px;
    max-width: 750px;
    height: auto;
  }
  .jumbo-one-text {
    margin: 0 auto;
    text-align: center;
    font-family: 'Audiowide', cursive;
  }
  .row {
    margin: 0px;
  }
  .flex {
    display: flex;
  }
  #discover-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
    color: rgba(150,150,150,1);
    text-shadow: 2px 2px black;
    }
  }
  .discover-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    text-align: center;
  }
  .btn-secondary {
    margin: 5px;
  }
 .button {
   background-color: rgba(0,0,0,.8);
   font-family: 'Audiowide', cursive;
   color: rgba(255,255,255,.6);
 }
  .home-event {
    padding:5px;
    margin: 5px;
    p {
      margin-top: 3px;
    }
  }
  #footer {
    text-align: center;
  }
  .footer {
    margin: 0 auto;
    font-family: 'Audiowide', cursive;
    font-size: 14px;
  }
  .error-messages {
    font-weight: 700;
    color: rgba(225, 25, 25, .8)
  }
  #sign-up-div {
    text-align: center;
    align-self: center;
    max-width: 450px;
    margin-top: 15px;
  }
  #sign-in-div {
    align-self: center;
    text-align: center;
    max-width: 450px;
    margin-top: 25px;
  }
  #states {    margin: 15px 0px;
  }
  .searchArtist {
    min-height: 50px;
    text-align: center;
    display: flex;
  }
  #artist-search {
    max-width: 500px;
    min-width: 200px;
    height: 35px;
    width: 100%;
    display: inline-block;
  }
  .artist-show {
    margin: 25px;
  }
  .favorite-show {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }
  .align-favorites {
    display: inline-block;
    text-align: left;
  }
   .align-related {
    display: inline-block;
    text-align: left;
    ul {
    list-style: none;
    }
  }
  .favorite-name {
  text-align: center;
  font-family: 'Audiowide', cursive;
  }
  .favorite-list {
    list-style: none;
  }
  .delete-favorite {
    width: 200px;
    align-self: center;
  }
  .artists-results {
    display: inline-block;
    text-align: left;  
  }
  #event-input {
    height: 30px;
  }
  .event-results {
   display: inline-block;
    text-align: left;
    ul {
    list-style: none;
    }
  }
  .sign-in-buttons {
    margin: 5px; 
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0; 
}
  .btn-outline-secondary {
    background-color: rgba(0,0,0,0);
    border: 1px solid rgba(0,0,0,.8);
    border-radius: 0px;
    font-family: 'Audiowide', cursive;
    padding: 5px;
  }
  #artist-submit {
    margin-left: 5px;
    margin-top: 2px;
  }
  .container {
  display: flex;
  flex-direction: column;
}
  #sign-in-image {
    align-self: center;
  }
  #sign-up-image {
    align-self: center;
  }
  #load{
    padding: 0px;
    align-self: center;
    width:65px;
    height:65px;
    background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center;
    margin: 0 auto;
  }  
  @media (max-width: 575px) {
    #discover-bar a{
      font-size: 8.5px;
    }
    #sign-in-div h2{
      font-size: 24px;
    }
  }