/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
html, body {
  height: 100%;
  margin: 0px;
}
p {
  font-size: 16px;
}
h4 {
    font-size: 28px;
}
h5 {
    font-size: 23px;
}
body {
  display: flex;
  flex-direction: column;
}
ul {
  padding: 0px;
  list-style: none;
}
#events {
  padding: 10px;
}
.content {
  flex: 1 0 auto;
}
.center {
  text-align: center;
}
.bold {
  font-weight: 700;
}
.navbar {
  margin: 0;
  li {
    font-size: 16px;
  }
}
.navbar-brand {
  font-family: 'Audiowide', cursive;
  font-weight: 700;
  font-size: 27px;
}
.jumbotron {
  background-repeat: no-repeat;
  background-position: center center;
  background-position: center top;
  background-position: center bottom;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  }
  #jumbo-top-image {
    display: flex;
    justify-content: flex-end;
  }
   #jumbo-bottom-image {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
  }
  #large-home-image {
    max-height: 350px;
    max-width: 750px;
    height: auto;
  }
  .jumbo-one-text {
    margin: 0 auto;
    text-align: center;
    font-family: 'Audiowide', cursive;
  }
  .row {
    margin: 0px;
  }
  .flex {
    display: flex;
  }
  #discover-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
    color: rgba(150,150,150,1);
    text-shadow: 2px 2px black;
    font-size: 13px;
    }
  }
  .home-topic {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
    color: rgba(150,150,150,1);
    text-shadow: 2px 2px black;
    }
  }
  .discover-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    text-align: center;
  }
  .btn-secondary {
    margin: 5px;
  }
 .button {
   background-color: rgba(0,0,0,.8);
   font-family: 'Audiowide', cursive;
   color: rgba(255,255,255,.6);
 }
  #home-artist-search-button {
    margin-bottom: 10px;
  }
  #favorite-button, #related-button {
    padding: 3px;
    font-size: 1em;
  }
  .home-event {
    padding:5px;
    max-width: 400px;
    margin: 0 auto;
    p {
      margin-top: 3px;
    }
  }
  #footer {
    text-align: center;
  }
  .footer {
    margin: 0 auto;
    font-family: 'Audiowide', cursive;
    font-size: 14px;
  }
  .error-messages {
    font-weight: 700;
    color: rgba(225, 25, 25, .8)
  }
  #sign-up-div {
    text-align: center;
    align-self: center;
    max-width: 450px;
    margin-top: 15px;
  }
  #sign-in-div {
    align-self: center;
    text-align: center;
    max-width: 600px;
    margin-top: 25px;
  }
  #states {    margin: 15px 0px;
  }
  .searchArtist {
    min-height: 50px;
    text-align: center;
    display: flex;
  }
  #artist-search {
    max-width: 500px;
    height: 35px;
    width: 100%;
    display: inline-block;
    outline: 1px solid rgba(0,0,0,.8);
  }
  #event-input {
    outline: 1px solid rgba(0,0,0,.8);
  }
  .artist-show {
    margin: 25px;
  }
  .favorite-show {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }
  .align-favorites {
    display: inline-block;
    text-align: left;
  }
  .related-results {
    padding: 10px;
  }
 .related-result-div {
   margin: 2px;
   height: 160px;
   border: 2px solid rgba(0,0,0,.8);
   background-color: rgba(0,0,0,.1);
 }
  .no-padding {
    padding: 0px;
  }
  .favorite-name {
    text-align: center;
    font-family: 'Audiowide', cursive;
  }
  .artist-name {
    font-family: 'Audiowide', cursive
  }
  .favorite-list {
    list-style: none;
  }
  .delete-favorite {
    width: 200px;
    align-self: center;
  }
  .artists-results {
    display: inline-block;
    text-align: left;
  }
  .artists-list {
    list-style: none;
    h4 {
    font-family: 'Audiowide', cursive;
   }
  }
  #event-input {
    height: 30px;
  }
  .event-results {
   display: inline-block;
    text-align: left;
    ul {
    list-style: none;
    }
  }
  .sign-in-buttons {
    margin: 5px; 
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0; 
}
  .btn-outline-secondary {
    background-color: rgba(0,0,0,0);
    border: 1px solid rgba(0,0,0,.8);
    border-radius: 0px;
    font-family: 'Audiowide', cursive;
    padding: 5px;
  }
  #artist-submit {
    margin-left: 5px;
    margin-top: 2px;
  }
  .container {
  display: flex;
  flex-direction: column;
}
  #sign-in-image {
    align-self: center;
  }
  #sign-up-image {
    align-self: center;
  }
  #load{
    padding: 0px;
    align-self: center;
    width:65px;
    height:65px;
    background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center;
    margin: 0 auto;
  }  
  .explore-artist {
    margin: 3px;
  }
  @media (max-width: 575px) {
    h1 {
      font-size: 23px;
    }
    h4 {
      font-size: 20px;
    }
    h5 {
      font-size: 14px;
    }
    .related-result-div h5 {
      font-size: 22px;
    }
    .related-result-div h4 {
      font-size: 28px;
    }
    #discover-bar a{
      font-size: 8.5px;
    }
    #sign-in-div h2{
      font-size: 24px;
    }
    .discover-description h3{
      font-size: 19px;
    }
    p {
      font-size: 12px;
    }
  }
  @media (max-width: 450px) {
    p {
      font-size: 10px;
    }
  }